@include block(story) {
  max-width: $desktop-l;
  margin: 0 auto;
  background-color: white;
  padding: 9px;
  border-radius: $border-radius;
  box-shadow: $low-shadow;
  font-size: 18px;
  line-height: 1.5;

  @include tablet {
    padding: 16px;
  }

  @include element(heading) {
    display: block;
    margin: 0;
    font-size: 1.15em;
    text-decoration: none;
    color: $text-color;
    font-weight: 500;
    transition: 50ms ease;

    @include tablet {
      font-size: 1.3em;
    }

    @include when(clickable) {
      &:hover {
        color: $primary;
        background-color: $primary50;
      }
    }
  }

  @include element(subheading) {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
    color: $text-secondary-color;
  }

  @include element(user) {
    color: $primary300;

    &:hover {
      text-decoration: underline;
      color: $primary;
    }
  }

  @include element(comment) {

  }

  @include element(comments-heading) {
    margin: 0;
    font-size: 1.15em;
    text-decoration: none;
    color: $text-color;
    font-weight: 500;
  }
}

@include block(story-card) {
  max-width: $desktop-l;
  margin: 0 auto 3px auto;
  display: flex;
  background-color: $grey50;
  box-shadow: $low-shadow;
  overflow: hidden;

  @include tablet {
    border-radius: $border-radius;
  }

  @include element(ribbon) {
    min-width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $grey50;
    background-color: $primary;
  }

  @include element(index) {
    font-size: 1.15em;
  }

  @include element(score) {
    margin-top: 5px;
    font-size: 0.9em;
  }
 
  @include element(heading) {
    display: block;
    margin: 0;
    font-size: 1.15em;
    text-decoration: none;
    color: $text-color;
    font-weight: 500;
    transition: 50ms ease;

    &:hover {
      color: $primary;
      background-color: $primary50;
    }

    @include tablet {
      font-size: 1.3em;
    }

    @include when(clickable) {

    }
  }

  @include element(url) {
    font-size: 0.9em;
    color: $text-secondary-color;
  }

  @include element(content) {
    flex-grow: 1;
    padding: 12px;
  }

  @include element(footer) {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
    margin-top: 12px;
    color: $grey700;
  }

  @include element(by) {
    margin-right: 12px;
  }

  @include element(icon-group) {
    display: flex;
    align-items: center;
    transition: all 50ms ease;
    color: $grey800;
    text-decoration: none;
    margin-right: 12px;
    margin-top: 3px;

    @include mobile-l {
      margin-top: 0;
    }

    @include when(clickable) {
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
  }
}

.hn-story-enter-active {
  transition: all 250ms ease-out;
}

.hn-story-enter-active {
  transition: all 250ms ease-in;
}

.hn-story-enter-from,
.hn-story-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
