@include block(story) {
  width: $desktop-l;
  margin: 0 auto 5px auto;
  display: flex;
  background-color: $grey50;
  box-shadow: $low-shadow;
  border-radius: $border-radius;
  overflow: hidden;

  @include modifier(ask) {
    width: $desktop-l;
    margin: 0 auto;
    background-color: white;
    padding: 16px;
    border-radius: $border-radius;
    box-shadow: $low-shadow;
  }

  @include element(ribbon) {
    min-width: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: $grey50;
    background-color: $primary;
    margin-right: 9px;
  }

  @include element(score) {
    margin-top: 5px;
    font-size: 0.9em;
  }
 
  @include element(heading) {
    display: block;
    margin: 0;
    font-size: 1.2em;
    text-decoration: none;
    color: $text-color;
    font-weight: 500;
    transition: 50ms ease;

    &:hover {
      color: $primary;
      background-color: $primary50;
    }

    @include tablet {
      font-size: 1.3em;
    }
  }

  @include element(url) {
    font-size: 0.9em;
    color: $text-secondary-color;
  }

  @include element(content) {
    flex-grow: 1;
    padding: 9px;
  }

  @include element(footer) {
    margin-top: 7px;
  }
}

.hn-story-enter-active {
  transition: all 250ms ease-out;
}

.hn-story-enter-active {
  transition: all 250ms ease-in;
}

.hn-story-enter-from,
.hn-story-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
