@import 'normalize';
@import 'variables';
@import 'utility';
@import 'animations';

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    background-color: $background-color;
}

a {
    text-decoration: none;
    color: $primary;
    transition: all 90ms ease;
}

p {
    margin: 12px 0;
  }

pre {
    font-size: 0.9em;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

@import 'comment';
@import 'container';
@import 'icon';
@import 'loading';
@import 'mainContainer';
@import 'menu';
@import 'scrollbar';
@import 'section';
@import 'story';
@import 'topbar';
