@import 'variables';
@import 'normalize';
@import 'utility';
@import 'animations';
@import 'scrollbar';
@import 'section';
@import 'story';

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    background-color: $background-color;
}
